<div class="container">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 style="margin: 0;">Paper List</h3>
        </div>
        <div class="panel-body" style="padding: 20px;">
            <div class="table-responsive">
            <table class="table table-hover">
                <tr>
                    <th>#</th>
                    <th>Course</th>
                    <th>Semeste/Year</th>
                    <th>Subject</th>
                    <th>Year</th>
                    <th>Date Uploaded</th>
                    <th>Download</th>
                    <th>Action</th>
                </tr>
                <%paper_data.forEach(data=>{%>
                    <% var date = new Date(data.createdAt)%>
                <tr>
                    <td>1</td>
                    <td><%=data.courses.course_name%></td>
                    <td>
                        <% if(data.courses.yearly){%>
                            Year
                            <% } else{%>
                                Semester
                                <% }%>
                        - <%=data.sem%>
                    </td>
                    <td><%= data.subjects.sub_name%></td>
                    <td><%=data.year%></td>
                    <td><%=`${date.getDate()} - ${date.getMonth()+1} - ${date.getFullYear()}` %></td>
                    <td><a href="/download/view/<%=data.paper_name%>" target="_blank" title="download"><i style="color: green;" class="fa fa-download" aria-hidden="true"></i></a></td>
                    <td><a href="/download/delete/<%=data._id%>" title="delete" onclick="return confirmDel();"><i class="fa fa-trash-o" aria-hidden="true"></i></a>&nbsp;&nbsp;&nbsp;&nbsp; <a href="/download/publish/<%=data._id%>" title="publish"><i style="color: darkorange;" class="fa fa-share-square-o" aria-hidden="true"></i></a></td>
                </tr>

                <%})%>
            </table>
        </div>
        </div>
    </div>
    </div>